#navbar-nav{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 20px;
}
nav{
    padding: 0px !important;
    height: 56px;
    background-color: rgb(1, 109, 151);
}

#navbar{
    margin-left: 30px;
}

a:link, a:visited{
    color:black;
    text-decoration: none;
}

.navbar-brand{
    padding: 0;
    height: auto;
    margin-left: 2px;
    
}