.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 5px;
    animation: fly-in 0.5s ease-out;
    
}

.invalid-feedback{
    color: #721c24;
    border-radius: 5px;
    animation: fly-in 0.5s ease-out;
}
@keyframes fly-in {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    border-radius: 50%;
    width: fit-content;
    background-color: black !important;
}

.title-container{
    background-color: aliceblue;
}

#register{
    width: 380px;
    border-width: 3px;
    border-style: groove;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    background-color: #227AFF;
    margin: 0px;
}

button{
    width: 120px;
}

form{
    margin: 0px !important;
}
.button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 374px; 
    height: 40px;
    background-color: #227AFF;
    flex-wrap: wrap;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    background: #ffffff;
    color: #1a1717;
    border: 2px;
    border-style: groove;
    border-radius: 10px;   
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
    outline: none;
    border: none;
    background: #ffffff;
    color: #1a1717;
    margin: 0;   
}

#logo{
    margin-top: 20px;
    margin-bottom: 10px;
}